%blocks {

    /*
        BEM CSS

        - Block
        - Element
        - Modifier

        - Padrão de projeto / Design Paterns

        Exemplo:
        .cars_title
        .cars_list
        .cars_item
        .cars_item--destack
        .cars_buttom
        .cars_img-container

    */
    
    padding: 3rem 0;

    &__title {
        color: $color-01;
    }

    &__list {
        list-style-type: none;
        font-size: $font-small;
        display: block;
        float: left;
        height: auto;
        margin: $space-default auto;
        padding: 1rem 0;
        width: 100%;
    }

    &__item {
        color: $color-02;
        display: block;
        margin: $space-default auto;
        text-align: center;
        width: calc(99% / 3 - 15px);

        @media (max-width: $tablet) {
            width: calc(99% - 30px);
        }
        
        
    }

    
    
    &__button {
        background-color: $color-01;
        border-radius: 5px;
        color: white;
        display: block;
        font-size: $font-medium;
        margin: $mt-02 auto $mb;
        padding: 4px 8px;
        text-align: center;
        text-decoration: none;
    }
}