body {
    font-family: $font-family-default;
    font-size: $font-small;
    color: #444;
}

p {
    color: $color-01;
    font-size: $font-normal;
    margin-bottom: $mb;
    text-align: $align;
}

section{
    background-color: $bg-color;
}

h1 {
    color: $color-01;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: $font-big;
    margin-top: $mt-02;
}

h2 {
    color: $color-02;
    font-size: $font-medium;
}

h3 {
    color: $color-03;
    font-size: $font-normal;
}

header,
footer {
    background-color: $bg-color-2;
    border: 1px solid #111;
}
