// Este é um mixin, como se fosse uma função para o sass
@mixin theme($border : black, $bg: $color-02) {
    background-color: $bg;
    border: 1px solid $border;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 1px 2px 6px black;
}


.cars {
    
    /* 
    * Diferente do que foi ensinado no curso, a herança no Sass
    * precisa conter o "%" na frente, pode ser feito por uma classe
    * utilizadno o ponto. @extend .class ou @extend %example
    */
    @extend %blocks;

    &__title {
        color: $color-01;
    }

    &__name {
        font-size: 20px;
        font-weight: 700;
        color: white;
        margin: 1.3rem;
    }

    &__subtitle {
        font-size: 14px;
        color: white;
        margin: 1.3rem;
    }
    
    &__list {
        list-style-type: none;
        font-size: $font-small;
        display: inline-block;
        height: auto;
        padding: 1rem 0;
        width: 100%;
    }

    &__item {
        border: 1px solid black;
        color: $color-02;
        display: block;
        float: left;
        margin: 1rem 0.5rem;
        box-shadow: 1px 2px 6px black;
        width: calc(99% / 3 - 15px);

        &--destack{
            @include theme(#d0f019, #5a5858,);
        }

         @media (max-width: $tablet) {
            width: calc(99% - 30px);
        }

    }

    &__img-container {
        display: block;
        height: 15rem;
        overflow: hidden;
        width: 100%;
        @media (max-width: $tablet) {
            height: 20rem;
        }
    }
    
    &__buttom {
        background-color: $color-01;
        border-radius: 20px;
        border: 1px solid rgb(224, 221, 221);
        color: white;
        display: block;
        font-size: $font-medium;
        margin: $mt-02 $mb $mb $mb;
        padding: 4px 8px;
        text-align: center;
        text-decoration: none;
    }
}