@import 'vars';

.cars {

    h2 {
        color: $color-01;
    }

    ul {
        list-style-type: none;
        font-size: $font-small;
        display: block;
        height: 250px;
        padding: 1rem 0;
        width: 100%;
    }

    li {
        color: $color-02;
        display: block;
        float: left;
        margin: 1rem 1.5rem;
        width: 30%;
        

        .img-container {
            display: block;
            height: 200px;
            overflow: hidden;
            width: 100%;
        }

        a {
            background-color: $color-01;
            border-radius: 5px;
            color: white;
            display: block;
            font-size: $font-medium;
            margin: $mt-02 auto $mb;
            padding: 4px 8px;
            text-align: center;
            text-decoration: none;
        }
    }

}