.destack{
    h1{
        color: $color-03;
        font-size: $font-big;
    }
    h2{
        font-size: $font-small;
    }
    img{
        width: 100%;
    }
    p{
        font-size: $font-normal;
        color: $color-03;
    }
}