@use 'sass:math';

* {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

div,
p {
    display: block;
}

header,
section,
footer {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 4rem 0;
}

section {
    padding: 0;
    height: auto;
}

.container {
    margin: 0 auto;
    max-width: math.div(1200, 1400) * 100%;
    height: auto;

    @media (max-width: 1199px) {
        max-width: math.div(1000, 1200) * 100%;
    }
}


img {
    width: 100%;
    height: auto;
}