

    $align: left;
    $bg-color: #b3b0b0;
    $bg-color-2: rgb(218, 216, 216);
    $color-01: rgb(166, 81, 184);
    $color-02: #999;
    $color-03: rgb(9, 40, 107);
    $font-big: 4rem; 
    $font-medium: 2rem;
    $font-normal: 1.8rem;
    $font-small: 1.2rem;
    $mb: 2rem;
    $mt: 2rem;
    $mt-02: 2rem;
    $font-family-default: Arial, Helvetica, sans-serif;
    $space-default: 1.5rem;
    $tablet: 999px;
